<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assignment 1</title>
    <link rel="stylesheet" href="css/style.css" type ="text/css">
    <script src ="js/script.js"></script>
</head>
<body>
    <div>
        <h1>Assignment 1</h1>
        <!--<nav>
            <a href="index.html">home</a>
            <a href="about.html">about</a>
            <a href="contact.html">contact</a>
        </nav> -->

       <!-- <img src="images/bg.jpeg" alt = "test image" -->
    </div>
    <div>
        <h2>James McGurn</h2>
        <ol>
            <li>Fortnite</li>
            <li>Gears</li>
            <li>Minecraft</li>
            <li>WOW</li>
            <li>Castle Crashers</li>
            <li>Battle Block Theatre</li>
            <li>Jak and Daxter</li>
            <li>Crash Bandicoot</li>
            <li>Spyro The Dragon</li>
            <li>Super Mario 64</li>
        </ol>
        
        <br>
        <a href="add.html">Add To List</a>
        <a href="login.html">Login</a>

        <p>I chose the topic video games because I like to play 
            videos games. Also, I like to find glitches in them.
        I have a youtube channel on all the glitches I have found. It currently has 20 thousand subscribers!</p>

    </div>
</body>
</html>